//
// Fonts
//
@font-face {
  font-family: Mlight;
  src: url(./assets/fonts/Montserrat-Light.ttf);
}
@font-face {
  font-family: Mreg;
  src: url(./assets/fonts/Montserrat-Regular.ttf);
}
@font-face {
  font-family: Msemi;
  src: url(./assets/fonts/Montserrat-SemiBold.ttf);
}
@font-face {
  font-family: Mbold;
  src: url(./assets/fonts/Montserrat-Bold.ttf);
}
//
// Default setting
//
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
//
// Varaible and reuseable functions
//
.designBorder() {
  border: 1px red solid;
}
.primaryButtonSize() {
  font-family: Msemi;
  background-color: @TextMainDarkColor;
  padding: 1em 2em;
  border: none;
  border-radius: 0.5em;
  letter-spacing: 1px;

  &:hover {
    transform: scale(1.1);
    transition: 0.6s ease all;
  }

  @media screen and (min-width: 720px) and (max-width: 900px) {
    padding: 0.8rem;
    font-size: 0.6rem;
  }
}
.linkDefaultColor() {
  text-decoration: none;
  color: @MainBackgroundColor;
  letter-spacing: 1px;
}
.PrimaryHeader() {
  font-family: Mbold;
  color: #01094d;
  font-size: 2.5rem;

  @media screen and (max-width: 600px) {
    font-size: 2rem;
    text-align: center;
  }

  @media screen and (min-width: 720px) and (max-width: 900px) {
    font-size: 1.5rem;
  }
}

.PrimaryDescription() {
  font-family: Mreg;
  font-size: 1rem;
  letter-spacing: 1px;
  color: #858282;

  @media screen and (max-width: 600px) {
    font-size: 1rem;
    letter-spacing: 2px;
    line-height: 1.5rem;
    text-align: center;
  }

  @media screen and (min-width: 720px) and (max-width: 900px) {
    font-size: 0.8rem;
    line-height: 1rem;
  }
}

@MainBackgroundColor: #fcfcfc;
@TextMainDarkColor: #1a1a1a;
@TextMainLightColor: #858282;
//
//
//

//
// Nav Bar Section
//
.nav-container {
  width: 100vw;
  background-color: @MainBackgroundColor;

  .nav-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem;

    .nav-header-div {
      flex-grow: 1;
    }

    .nav-tab-div {
      display: flex;
      justify-content: center;
      align-items: center;

      @media screen and (max-width: 600px) {
        display: none;
      }

      .nav-link {
        margin: 0 1em;
        text-decoration: none;

        .nav-link-text {
          color: @TextMainDarkColor;

          &:hover {
            border-bottom: 1px @TextMainDarkColor solid;
          }
        }
      }

      .nav-buy-button {
        margin: 0 1rem;
        .primaryButtonSize;

        .nav-buy-button-text {
          .linkDefaultColor;
        }
      }
    }
  }
}

//
// Landing section
//
.landing-section {
  .landing-container {
    .landing-wrapper {
      .landing-text-div {
        padding: 10rem 0rem 3rem 6rem;
        width: 70%;

        @media screen and (max-width: 600px) {
          width: 100%;
          padding: 5rem 2rem;
          text-align: center;
        }

        .landing-text-header {
          font-family: Mbold;
          font-size: 4rem;
          letter-spacing: 4px;

          @media screen and (max-width: 600px) {
            font-size: 2rem;
          }

          @media screen and (min-width: 720px) and (max-width: 900px) {
            font-size: 1.7rem;
          }
        }
        .landing-text-description {
          margin-top: 3rem;
          .PrimaryDescription;
        }
        .landing-text-button {
          margin-top: 3rem;
          .primaryButtonSize;

          .landing-text-button-color {
            .linkDefaultColor();
          }
        }
      }
    }
  }
}

//
// Sample section
//
.sample-section {
  .sample-container {
    width: 80%;
    margin: auto;
    .sample-grid {
      display: grid;
      grid-template-columns: 50% 50%;
      grid-gap: 1rem;

      @media (max-width: 600px) {
        grid-template-columns: 100%;
      }

      .sample-gridItem-text {
        padding: 4rem 0;

        .sample-grid-header {
          .PrimaryHeader;
        }
        .sample-grid-description {
          .PrimaryDescription();
          margin-top: 3rem;
        }
      }

      .sample-gridItem-image {
        .sample-image {
        }
      }
    }
  }
}
